span {
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  color: red;
  display: none;
  margin-left: 5rem;
}

.formInput input:invalid[focused="true"] {
  border: 2px solid rgba(255, 0, 0, 0.486);
}

.formInput input:invalid[focused="true"] ~ span {
  display: block;
  align-items: center;
}

@media screen and (max-width: 600px) {
  span {
    margin: 2px;
  }
}
