@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.reservation-card {
  margin-left: 15rem;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.reservation-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  gap: 2rem;
  background-color: #99c110;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.car-image {
  width: 10rem;
  height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  border-radius: 5%;
  margin-top: 1rem;
}

.cancel-button {
  font-family: 'Roboto', sans-serif;
  background-color: #df4759;
  color: black;
  font-weight: bold;
  border: none;
  height: 2rem;
  width: 5rem;
  margin-left: 6rem;
  cursor: pointer;
}

.reservation-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reservation-date-details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.reservation-car-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: bold;
}

.dates {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .reservation-card {
    margin-left: -1rem;
    width: 17rem;
  }

  .reserve-id {
    clear: both;
    display: inline-block;
    white-space: nowrap;
  }

  .reservation-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-left: 1rem;
  }

  .reservation-header {
    height: 10rem;
    width: 15rem;
    flex-direction: column;
    justify-content: space-between;
  }
}
