.details-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  height: 80vh;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.image-container img {
  width: 90%;
  height: 90%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  padding: 2% 0.5%;
}

.info-container table {
  border-collapse: collapse;
}

.end {
  text-align: end;
}

.info-container td {
  padding: 2%;
}

.info-container tr:nth-child(odd) {
  background-color: rgb(226, 227, 229);
}

.info-container .fa {
  font-size: 16px;
}

.info-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 184px;
  align-self: center;
  gap: 4%;
  border: none;
  padding: 4% 2%;
  border-radius: 25px;
  background-color: rgb(152, 191, 20);
  color: rgba(255, 255, 255, 0.788);
}

.back-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.back-button {
  margin-top: 4rem;
  width: 80px;
  padding: 0 10px;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 36px;
  height: 60px;
  background-color: rgb(152, 191, 20);
  text-align: center;
}

@media screen and (min-width: 960px) {
  .details-container {
    flex-direction: row;
    padding-top: 0;
    padding-left: 200px;
  }

  .image-container {
    width: 70%;
  }

  .info-container {
    width: 30%;
    justify-content: space-between;
  }

  .back-button-container {
    justify-content: start;
  }

  .back-button {
    margin-top: 0;
    margin-left: 180px;
    text-align: end;
  }
}
