@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

.nav-container .sidebar {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  width: 200px;
  z-index: 10;
  padding-left: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.sidebar li {
  text-align: center;
  padding: 23px 5px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 19px;
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.sidebar li:hover {
  background-color: #99c110;
  width: 9rem;
  margin-left: 0.5rem;
  text-decoration: white;
}

.link {
  text-decoration: none;
  color: black;
}

.logo {
  transform: scale(0.9);
  margin-left: -1rem;
  margin-top: 1rem;
}

.sidebar li:hover .link {
  color: white;
}

.icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .sidebar {
    display: none;
  }

  .sidebar li {
    padding: 20px;
  }


  .sidebar li:hover {
    background-color: #99c110;
    width: 15rem;
    padding: 20px;
    text-decoration: white;
    transition: all 0.5s;
  }

  .fa-times {
    display: block;
    transition: all 3ms;
  }

  .logo {
    transform: scale(1.1);
    margin-left: 2rem;
    margin-top: 4rem;
  }

  .responsive {
    display: block;
    z-index: -1;
    width: 19rem !important;
    margin-right: 1rem !important;
    transition: 0.4s ease-in !important;
  }

  .icon {
    position: absolute;
    z-index: 10;
    display: block;
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    padding-top: 1rem;
  }

  .icon .fa {
    margin: 1rem;
    transform: scale(2.5);
    color: #99c110;
  }
}
